
html {
    box-sizing: border-box;;
    font-size: 64%;
}
*, *:before, *:after {
    box-sizing: inherit

}
.container {
    width: 1200px;

}
.row {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1 {
    font-size: 3.8rem;
    color: white;
}

h2 {
    font-size: 3.4rem;

}

h3 {
    color: black;
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

.letra{
    color: black;
}
/*Header*/

.site-header {
    background-image: url("../img/fondo1.jpg");
    background-position: center;
    background-size: cover;
    padding: 1rem;
    height: 35rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra img {
    max-width: 22rem;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion a{
    font-size: 1.8rem;
    margin-right: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.navegacion img {
    max-width: 20rem;
}


/* Main */

.contenedor {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto 0 auto;
}

.contenedor h2{
    color: dimgray;
    text-align: center;
    font-weight: 800;
}

.propiedades {
    display: flex;
    position: center;
    width: 1100px;

}

.propiedad1 {
    width: 1100px;
    background-color: lightblue;
    position: center;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.propiedad1 h3 {
    text-transform: uppercase;
}

.propiedad1 li {
    color: black;
    font-weight: bold;
}

.propiedad1 li a {
    text-decoration: none;
    color: black;
}
.propiedades1 {
    display: flex;
    position: center;
    width: 50rem;
}

.colorlikes {
    color: red;
}

:root {
    --mainWhite: #f5f5f5;
    --mainGreen: #7fb800;
    --mainBlue: #0d2c54;
    --lightBlue: #00a6ed;
    --softBlue: #86d1f1;
    --mainBlack: #333333;
}

.main-container {
    border: 0.1rem solid var(--mainWhite);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.9);
    border-radius: 0.3rem;
    width: 1100px;
}
#counter {
    color: var(--mainGreen);
    font-size: 10rem;
    color: var(--mainBlack);
}
.clock {
    font-size: 1.8rem;
    margin-right: 2rem;
    width 1000px;


}
